version: '3.8'
services:

  frontend:
    build: ./frontend
    ports:
      - "5500:80"

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb+srv://Jose:Eduardo123@cluster0.fnrdstc.mongodb.net/loginDB?retryWrites=true&w=majority
      JWT_SECRET: tu_clave_secreta
      NODE_ENV: production

volumes:
  mongo_data:

